.IngredientInput {
    width: 100%;
    padding: 5px;
}

.Amount {
    width: 15%;
    margin-right: 5px;
}

.Unit {
    width: 10%;
    margin-right: 5px;
}

.Ingredient {
    width: 35%;
    margin-right: 5px;
}

.Comment {
    width: 30%;
    margin-right: 5px;
}