.RecipeForm {
    padding: 0 2.0rem;
    height: 100%;
    overflow-y: auto;
}

.RecipeForm::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.RecipeForm::-webkit-scrollbar
{
	width: 1rem;
	background-color: #F5F5F5;
}

.RecipeForm::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ccc;
}

.Header {
    display: inline-block;
    font-size: 2.5rem;
}

.FormFooter {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.PanelTitle {
	font-size: 2rem;
}

.PanelContent {
	display: block !important;
}