.RecipeItem {
    font-size: 1.4rem;
    margin: 0.8rem 0;
    height: auto;
}

.RecipeItem:hover {
    cursor: pointer;
}

.RecipeItem:hover > .Edit {
    display: inline-block;
}

.Edit {
    display: none;
    background-color: transparent;
    color: #aaa;
    border: none;
    outline: none;
    margin: 0 1rem;
    cursor: pointer;
}