.Category {
    background: lightblue;
    list-style: none;
    font-size: 1.8rem;
}

.CategoryItems {
    list-style: none;
    background: rgba(255,255,255,0.95);
    -webkit-padding-start: 0;
    font-size: 1.4rem;
}