.SideHeader {
    width: 100%;
    position: relative;
    height: 20vh;
    overflow: hidden;
}

.AvatarBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Avatar {
    width: 60px !important;
    height: 60px !important;
}

.Toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.ToggleIcon {
    background-color: rgba(0,0,0,0.3) !important;
}