.RecipeContent {
    transition: all .5s;
    height: 100%;
    position: relative;
    width: 100%;
}

/* .Show {
    transform: translateX(0);
    border-top-right-radius: 10px !important;
    width: 100% !important;
} */

.ListBox {
    background-color: rgba(255, 255, 255, 0.95);
    height: 50vh;
    overflow-y: auto;
    box-sizing: content-box;
    transition: all .5s;
    padding: 0 1rem;
}

.FAB {
    margin: 0px;
    top: 0;
    right: 20px;
    position: 'fixed';
}

.RecipeList {
    list-style: none;
    padding: 1rem;
    margin: 0;
    overflow: auto;
}

.RecipeList::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.RecipeList::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.RecipeList::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.ListHeaderText {
    font-size: 2rem;   
}

.Recipe {
    font-size: 1.6rem;
}