.Landing {
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
}

.TextBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.85);
    color: black;
    padding: 3rem;
    text-align: center;
    width: 50rem;
    transition: all 1s;
}

.HeaderText {
    font-size: 2.5rem;
    text-transform: lowercase;
    margin: 0 0 1.5rem 0;
}

.HeaderText__brand {
    font-size: 10rem;
    font-family: 'Clicker Script', cursive;
    color: rgb(91, 238, 91);
    line-height: 1.2;
    margin: 0 1.5rem;
    text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
    display: block;
    text-transform: none;
}

.Tagline {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* .Link,
.Link:visited {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
} */

@media(max-width: 600px) {

    .HeaderText {
        font-size: 1.8rem;
    }
    .HeaderText__brand {
        font-size: 3rem;
    }
    
    .TextBox {
        width: 60%;
        padding: 1.5rem;
    }
}
