.RecipeDisplay {
    background-color: rgba(255, 255,255,.95);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.2);
    height: 100%;
    width: 100%;
    padding: 1rem;
    overflow: auto;
    border-radius: 10px;
}

.HeaderText {
    font-size: 1.8rem;
}

.Description {
    font-size: 1.6rem;
    font-style: italic;
    margin-left: 1.6rem;
}