.AppBarShift {
    width: 66%;
    transition: .5s all ease-out;
    margin-left: 34%;
}

.ResponsiveAppBar {
    display: flex;
    justify-content: space-between;
}


.ToolBar {
    display: none;
}

.menuButton {
    margin-left: -12px;
    margin-right: 20px;
}

@media(max-width:750px) {
    .menuButton {
        display: none !important;
    }
    .ResponsiveAppBar {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 0rem;
        flex-wrap: wrap;
        box-shadow: none !important ;
    }
    .ToolBar {
        background-color: transparent;
        margin: 0 auto;
        width: 100%;
        display: block;
    }
}