.ResponsiveAppBar {
    display: flex;
    justify-content: space-between;
}
.ToolBar {
    display: none;
}
@media(max-width:750px) {
    .ResponsiveAppBar {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 0rem;
        flex-wrap: wrap;
        box-shadow: none !important ;
    }
    .ToolBar {
        background-color: transparent;
        margin: 0 auto;
        width: 100%;
        display: block;
    }
}