.Main {
    flex-basis: 75%;
    flex-grow: 1;
}

.Dashboard {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.MainContent {
    overflow: auto;
    height: 100vh;
    width: 100%;
}

.SideDrawer {
    height: 100vh;
    flex-basis: 25%;
    position: relative;
}

@media(max-width: 600px) {
    
}

.RecipeList {
    margin-right: 3rem;
    width: auto;
    flex-basis: 20%;
    max-width: 25%;
    z-index: 100;
}

.MainWindow {
    overflow: hidden;
    position: relative;
    display: flex;
    width: 100%;
    /* max-width: 87.5vw; */
}

.MainWindowShift {
    width: 66% !important;
    transition: .5s all ease-out;
    margin-left: 34%;
}


.ShoppingList {
    max-width: 25%;
    /* background-color: white; */
    width: auto;
    flex-shrink: 1;
    margin-left: 3rem;
    z-index: 100;
}

/* .SideBar {
    position: relative;
    width: 25%;
} */

.drawerPaper {
    position: relative;
    width: 34%;
}

.Background {
    height: 100vh;
    width: 100%;
    background: url('/img/backdrop.jpg');
    background-size: cover;
    filter: blur(2px);
    position: absolute;
    z-index: -1;
}

.Background .Layer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: -1;
}

.HeaderBox{
    flex-basis: 15%;
    padding: 1.5rem;
    box-sizing: border-box;
}

.MainWindowTabs {
    display: none;
}

.BottomNavIcon {
    opacity: 1 !important;
}

@media (max-width: 950px) {
    .SideDrawer {
        flex-basis: 33%;
    }
    .Main {
        flex-basis: 65%;
    }
}

@media (max-width: 750px) {
    .drawerPaper {
        display: none;
    }

    .MainWindowTabs {
        display: block;
    }
    
    .HeaderBox {
        padding: 0;
    }
}